*.beam
.eunit
deps/*
ebin/*
rel/antidote
dev
apps/antidote/src/*
*.swp
*.swo
src/*.swo
dialyzer_unhandled_warnings
.local_dialyzer_plt
dialyzer_warnings
doc/
.DS_Store
log/
tags
rel/vars/*.config

#IntelliJ IDEA ignores
.idea/
*.iml
*.ipr
*.iws
