_build/
*.beam
.eunit
rel/antidote
dev
apps/antidote/*
*.swp
*.swo
src/*.swo
dialyzer_unhandled_warnings
.local_dialyzer_plt
dialyzer_warnings
doc/
.DS_Store
logs/
tags
rel/vars/*.config
docs/_site/
docs/.sass-cache/
docs/.jekyll-metadata
docs/_pdf
docs/.idea/
log/
data/
compile_commands.json
data.*/
log.*/
erl_crash.dump
rebar3.crashdump
test/.rebar3/erlcinfo
.idea/
antidote.iml
edoc/
