%% elvis code style rules for linting
[{elvis,
    [
        {config,
            [
                #{dirs => ["src", "src/**", "test", "test/**"],
                    filter => "*.erl",
                    rules =>
                    [
                        {elvis_style, no_tabs},
                        {elvis_style, no_trailing_whitespace},
                        {elvis_style, macro_names, #{ignore => []}},
                        {elvis_style, operator_spaces, #{rules => [{right, ","},
                            {right, "--"},
                            {left, "--"},
                            {right, "++"},
                            {left, "++"}]}},
                        {elvis_style, god_modules,
                            #{limit => 40,
                                ignore => []}},
                        {elvis_style, used_ignored_variable},
                        {elvis_style, no_behavior_info},
                        {
                            elvis_style,
                            module_naming_convention,
                            #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$",
                                ignore => []}
                        },
                        {
                            elvis_style,
                            function_naming_convention,
                            #{regex => "^([a-z][a-z0-9]*_?)*$"}
                        },
                        {elvis_style, state_record_and_type},
                        {elvis_style, no_spec_with_records}
                    ]
                },
                #{dirs => ["."],
                    filter => "Makefile",
                    ruleset => makefiles
                },
                #{dirs => ["."],
                    filter => "rebar.config",
                    rules => [{elvis_project, no_deps_master_rebar, #{ignore => []}}]
                },
                #{dirs => ["."],
                    filter => "elvis.config",
                    ruleset => elvis_config
                }
            ]
        },
        {verbose, true}
    ]
}].
