{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, ssl, tools, os_mon, runtime_tools, inets, xmerl, webtool, eunit, syntax_tools, compiler, crypto, mnesia, public_key, snmp]}.
{erl_opts, [debug_info, warnings_as_errors, {platform_define, "^[0-9]+", namespaced_types}]}.
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.
{xref_checks, [undefined_function_calls]}.
{edoc_opts, [{preprocess, true}]}.

%% The library proper is a GPLv3 licensed software so it is not part of this library and cannot be shipped with it.
%% Compiling the tests requires proper so for testing you can temporarily uncomment the proper related lines.
%% Running the command -> sed -i -- 's/%%PROPER//g' rebar.config <- in the folder of this config will uncomment the lines related to proper allow tests to run.
%% This can be done manually by removing the prefix %%PROPER from all lines in this file.
%% However any linked version of this library must not link to proper so always revert changes in this file related to proper before committing anything new.

{project_plugins,
  [
%%PROPER    rebar3_proper %% uncomment to for proper testing
  ]}.

{profiles, [
  {test, [
%%PROPER    {deps, [{proper, "1.3.0"}]}, %% uncomment to for proper testing
    {erl_opts, [nowarn_export_all]},
    {plugins, [{coveralls, {git, "https://github.com/markusn/coveralls-erl", {branch, "master"}}}]}
  ]},
  {proper, [
%%PROPER    {deps, [{proper, "1.3.0"}]}, %% uncomment to for proper testing
    {erl_opts, [nowarn_export_all, {d, 'PROPER'}, {d, 'TEST'}]},
    {plugins, [{coveralls, {git, "https://github.com/markusn/coveralls-erl", {branch, "master"}}}]}
  ]},
  {lint,  [
    {plugins, [{rebar3_lint, "0.1.10"}]}
  ]}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/*.coverdata"}.
{coveralls_service_name, "travis-ci"}.
