{deps, [
    %% riak_core_lite framework
    {riak_core, "0.10.1", {pkg, riak_core_lite}},
    % ranch socket acceptor pool for managing protocol buffer sockets
    {ranch, "2.0.0"},

    %% antidote utilities
    antidote_crdt,
    antidote_pb_codec,
    antidotec_pb,
    vectorclock,

    %% efficient inter-dc messaging
    {erlzmq, {git, "https://github.com/zeromq/erlzmq2", {ref, "573d583"}}},

    %% antidote stats module; expose metrics for prometheus as HTTP-API
    {antidote_stats, {git, "https://github.com/AntidoteDB/antidote_stats", {tag, "v14"}}}
]}.


{erl_opts, [
    debug_info,
    warnings_as_errors,
    nowarn_export_all,
    {i, "include"}
]}.

{overrides, [
    {override, erlzmq,
        [{pre_hooks, [{compile, "make -C c_src"},
            {clean, "make -C c_src clean"}]},
            {plugins, [pc]},

            {provider_hooks,
                [{post,
                    [{compile, {pc, compile}},
                        {clean, {pc, clean}}
                    ]}
                ]}
        ]}
]}.

{dialyzer, [{warnings, [
    error_handling,
    race_conditions,
    %underspecs,
    unmatched_returns
    %unknown
    %overspecs,
    %specdiffs
]}]}.

{edoc_opts, [
    {preprocess, true},
    {todo, true},
    {includes, ["include/"]},
    {dir, "edoc"}
]}.


{relx, [{release, {antidote, "0.2.2"}, [antidote]},
    {dev_mode, false},
    % do not expect Erlang runtime at deployment site
    {include_erts, true},

    % application environment
    {sys_config_src, "config/sys.config.src"},
    % vm arguments passed when starting the Erlang VM
    {vm_args_src, "config/vm.args.src"},

    {overlay, [
        % copy nested configuration file(s)
        {copy, "config/network.config", "releases/{{release_version}}/network.config"}
    ]},

    % create start script with additional features
    {extended_start_script, true}
]}.

%% Do not update this dependency without testing lint
%% Something is broken in the rebar3 build process that causes this plugin to call modules that are not its actual dependencies
{project_plugins, [{rebar3_lint, "0.1.10"}]}.

{profiles, [
    % {d, 'TEST'} is applied to both eunit and ct
    % {d, 'EUNIT'} is only applied to eunit
    {test, [
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {erl_opts, [warnings_as_errors, debug_info, no_inline_list_funcs]},
        {plugins, [coveralls]},
        {deps, [meck]}]}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/*.coverdata"}.
{coveralls_service_name, "github"}.
