.summary {
    color: #808080;
    border-left: 5px solid #ED1951;
    font-size:16px;
}

a {
    color: #3C786C;
}

h3 {color: #87aaa3; }
h4 {color: #808080; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #5F9086;
    color: white;
}

.nav > li.active > a {
    background-color: #333;
}

.nav > li > a:hover {
    background-color: #5F9086;
}

div.navbar-collapse .dropdown-menu > li > a:hover {
    background-color: #87aaa3;
}

.nav li.thirdlevel > a {
    background-color: #FAFAFA !important;
    color: #5F9086;
    font-weight: bold;
}

a[data-toggle="tooltip"] {
    color: #649345;
    font-style: italic;
    cursor: default;
}

.navbar-inverse {
    background-color: #333;
    border-color: #87aaa3;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: #3C786C;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #3C786C;
    color: #ffffff;
}

/* not sure if using this ...*/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #5F9086 !important;
}

.btn-primary {
    color: #ffffff;
    background-color: #87aaa3;
    border-color: #87aaa3;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: #87aaa3;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #5F9086;
    border-color: #87aaa3;
}

.printTitle {
    color: #3C786C !important;
}

body.print h1 {color: #3C786C !important; font-size:28px !important;}
body.print h2 {color: #595959 !important; font-size:20px !important;}
body.print h3 {color: #87aaa3 !important; font-size:14px !important;}
body.print h4 {color: #679DCE !important; font-size:14px; font-style: italic !important;}

.anchorjs-link:hover {
    color: #216f9b;
}

div.sidebarTitle {
    color: #3C786C;
}

li.sidebarTitle {
    margin-top:40px;
    font-weight:normal;
    font-size:130%;
    color: #87aaa3;
    margin-bottom:10px;
    margin-left: 5px;

}

.navbar-brand {
    padding-top: 3px;
    padding-bottom: 0px;
}

.navbar-brand > img {
    height: 42px;
}

.text-primary {
    color: #333;
}

.fa-inverse {
    color: #87aaa3;
}
