[
  %% stop lager completely
  {lager, [
    {error_logger_whitelist, [error_logger]},
    % stop redirecting error_logger messages
    {error_logger_redirect, false},
    % stop writing crash log
    {crash_log, false},
    % use our redirection backend
    {handlers, [{antidote_lager_backend, [debug]}]}
  ]}
].
