[
  %% logger config
  {kernel, [
    {logger, [
      {handler, default, logger_std_h,
        #{level => info,
          formatter => {logger_formatter, #{single_line => false, max_size => 2048}},
          config => #{type => standard_io}}},
      {handler, errors, logger_std_h,
        #{level => error,
          formatter => {logger_formatter, #{single_line => false, max_size => 2048}},
          config => #{type => {file, "logger_logs/errors.log"}}}}
    ]},
    {logger_level, info}
  ]}
].
