[
  {riak_core, [
    %% riak_handoff_port is the TCP port used for intra-cluster data handoff.
    {handoff_port, 8099}
  ]},

  {ranch, [
    %% IP where antidote will listen to for connection requests
    {pb_ip, "127.0.0.1"},

    %% Port for antidote client requests
    {pb_port, 8087}
  ]},

  {antidote, [
    {pubsub_port, 8086},
    {logreader_port, 8085}
  ]},

  {antidote_stats, [
    {metrics_port, 3001}
  ]}

%%  possible to restrict distributed Erlang ports
%%  {kernel, [
%%    {inet_dist_listen_min, 9100},
%%    {inet_dist_listen_max, 9100}
%%  ]}
].
