[
 %% Riak Core config
 {riak_core, [
              %% Default location of ringstate
              {ring_state_dir, "${RING_STATE_DIR}"},
              {platform_data_dir, "${PLATFORM_DATA_DIR}"},

              %% riak_handoff_port is the TCP port that Riak uses for
              %% intra-cluster data handoff.
              {handoff_port, 8099}
             ]},

  %% logger config
{kernel, [
    {logger, [
    {handler, default, logger_std_h,
      #{level => info,
        formatter => {logger_formatter, #{single_line => false, max_size => 2048}},
        config => #{type => standard_io}}},
   {handler, errors, logger_std_h,
      #{level => error,
        formatter => {logger_formatter, #{single_line => false, max_size => 2048}},
        config => #{type => {file, "logger_logs/errors.log"}}}}
    ]},
    {logger_level, info}
 ]},

 {ranch, [
        {pb_ip, "${PB_IP}"},
        {pb_port, 8087}
        ]},

  {prometheus, [{collectors, [prometheus_process_collector, default]}]},

  {antidote, [
    {pubsub_port, 8086},
    {logreader_port, 8085},
    {metrics_port, 3001}
  ]}
].
