{deps, [
    %% riak_core_lite framework
    {riak_core, "0.10.1", {pkg, riak_core_lite}},
    % ranch socket acceptor pool for managing protocol buffer sockets
    {ranch, "2.0.0"},
    %% efficient inter-dc messaging
    {erlzmq, {git, "https://github.com/zeromq/erlzmq2", {ref, "573d583"}}}
]}.

{profiles, [
    % {d, 'TEST'} is applied to both eunit and ct
    % {d, 'EUNIT'} is only applied to eunit
    {test, [
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {erl_opts, [warnings_as_errors, debug_info, no_inline_list_funcs]},
        {plugins, [coveralls]},
        {deps, [meck]}]}
]}.

{cover_enabled, true}.
{cover_export_enabled, true}.
{coveralls_coverdata, "_build/test/cover/*.coverdata"}.
{coveralls_service_name, "github"}.
