{erl_opts, [debug_info]}.
{plugins, [rebar3_path_deps]}.
{project_plugins, [rebar3_proper]}.

{deps, [
    {antidote_crdt, {path, "../antidote_crdt"}},
    {antidote_stats, {path, "../antidote_stats"}},
    {antidote_pb_codec, {path, "../antidote_pb_codec"}},
    {vectorclock, {path, "../vectorclock"}},

    %% riak_core_lite framework
    {riak_core, "0.10.1", {pkg, riak_core_lite}},
    % ranch socket acceptor pool for managing protocol buffer sockets
    {ranch, "2.0.0"},
    %% efficient inter-dc messaging
    {erlzmq, {git, "https://github.com/zeromq/erlzmq2", {ref, "573d583"}}}
]}.

{profiles, [
    {test, [
        {extra_src_dirs, [{"test", [{recursive, true}]}]},
        {erl_opts, [warnings_as_errors, debug_info, no_inline_list_funcs]},
        {deps, [meck, proper]}
    ]}
]}.

{overrides, [
    {override, erlzmq, [
        {pre_hooks, [
            {compile, "make -C c_src"},
            {clean, "make -C c_src clean"}
        ]},
        {plugins, [pc]},

        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
    ]}
]}.
