{sys, [
       {lib_dirs, ["../deps/"]},
       {rel, "floppy", "1",
        [
         kernel,
         stdlib,
         sasl,
	 riak_dt,
         floppy
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "floppy"},
       {profile, embedded},
       {excl_sys_filters, ["^bin/.*",
                           "^erts.*/bin/(dialyzer|typer)"]},
       {excl_archive_filters, [".*"]},
       {app, sasl, [{incl_cond, include}]},
       {app, floppy, [{incl_cond, include}, {lib_dir, ".."}]}
      ]}.

{target_dir, "floppy"}.

{overlay_vars, "vars.config"}.

{overlay, [
           {mkdir, "data/ring"},
           {mkdir, "log/sasl"},
           {copy, "files/erl", "\{\{erts_vsn\}\}/bin/erl"},
           {copy, "files/nodetool", "\{\{erts_vsn\}\}/bin/nodetool"},
           {template, "files/app.config", "etc/app.config"},
           {template, "files/vm.args", "etc/vm.args"},
           {template, "files/floppy", "bin/floppy"},
           {template, "files/floppy-admin", "bin/floppy-admin"}
           ]}.
