[
 %% Riak Core config
 {riak_core, [
              %% Default location of ringstate
              {ring_state_dir, "{{ring_state_dir}}"},
              {platform_data_dir, "{{platform_data_dir}}"},

              %% riak_handoff_port is the TCP port that Riak uses for
              %% intra-cluster data handoff.
              {handoff_port, {{handoff_port}} }
             ]},

  %% logger config
{kernel, [
    {logger, [
    {handler, default, logger_std_h,
      #{level => info,
        formatter => {logger_formatter, #{single_line => false, max_size => 2048}},
        config => #{type => standard_io}}},
   {handler, errors, logger_std_h,
      #{level => error,
        formatter => {logger_formatter, #{single_line => false, max_size => 2048}},
        config => #{type => {file, "logger_logs/errors.log"}}}}
    ]},
    {logger_level, info}
 ]},

 {ranch, [
        {pb_ip, "127.0.0.1"},
        {pb_port, {{pb_port}} }
        ]},

  {antidote, [
    {pubsub_port, {{pubsub_port}} },
    {logreader_port, {{logreader_port}} },
    {metrics_port, {{metrics_port}} }
  ]}
].
